@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  background-color: #F2F6F9;
  min-height: 1080px;
}

.header {
  background-color: white;
  min-height: 65px;
  margin-bottom: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#logo-img {
  padding-left: 200px;
  height: 40px;
}

.main-body {
  margin-left: 10%;
  margin-right: 10%;
}

.body-header{
  margin-top: 80px;
}

.body-header h2 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

#store, #department {
  margin-left: 5px;
  background-color: #d2dce3;
  border: 0px;
  color: #616c7a;
  width: 140px;
  height: 30px;
  padding-left: 10px;
}

#store {
  margin-right: 20px;
}

.toolbar {
  font-size: 14px;
  color: #616c7a;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-top: 50px;
}

#search {
  width: 150px;
  height: 30px;
  float: right;
  border: 0px;
  box-shadow: 9px 8px 37px -9px rgba(0,0,0,0.75);
  -webkit-box-shadow: 9px 8px 37px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 8px 37px -9px rgba(0,0,0,0.75);

}

.content {
  margin-top: 30px;
}

.slick-list {
  max-height: 337px;
}

body .product-line {
  background-color: white;
  box-shadow: 13px 8px 57px -7px rgba(82,72,72,0.55);
  padding: 0px;
  -webkit-box-shadow: 13px 8px 57px -7px rgba(82,72,72,0.55);
  -moz-box-shadow: 13px 8px 57px -7px rgba(82,72,72,0.55);
}

.slick-prev {
  left: -18px;
}

.slick-next {
  right: -18px;
}

.slick-slide {
  border-right: 1px solid #d3d7de;
}

.slick-prev, .slick-next {
  background: #ccc;
  border-radius: 100%;
  width: 40px;
  height: 37px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
  z-index: 2;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
  opacity: 1;
}

.slick-prev:hover, .slick-prev:focus {
  background: #ccc;
  border-radius: 100%;
  width: 40px;
  height: 37px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
  z-index: 2;
}

.slick-next:hover, .slick-next:focus {
  background: #ccc;
  border-radius: 100%;
  width: 40px;
  height: 37px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
  z-index: 2;
}

.product-image {
  width: 100%;
}

.personal{
  max-width: 279px;
  position: relative;
}

.personal span {
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;

  -moz-border-radius: 15px;
  border-radius: 15px;

  background-color: #F2F6F9;;
  color:#82868c;
  text-align: center;
  font-size: 1em;

  position: absolute;
  top: 20px;
  left: 20px;
}

h2.title {
  width: 500px;
  text-align: center;
  border-bottom: 1px solid #c0c8dc;
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-left: calc(50% - 250px);
}

h2.title span {
  background: #F2F6F9;
  padding: 0px 40px;
  color: #3d4e7b;
}

.main-body .row {
  margin-bottom: 35px;
}


.department-area h2 {
  position: absolute;
  top: 50%;
  left: 42%;
  color: white;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

.department-area a {
  position: absolute;
  top: 60%;
  left: 40%;
  color: white !important;
  transform: translate(-50%, -50%);
  font-weight: 200;
}

.department-area {
  height: 337px;
  position: relative;
}

.department-area img {
  height: 100%;
}

.product-image img {
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 25px;
}

.product-title {
  text-align: center;
  width: 90%;
  margin-top: 5px;
  padding-left: 30px;
  min-height: 72px;
}

.product-title a {
  color: #A1AAB9;
}

@media only screen and (max-width: 1658px) {

  .main-body {
    margin-left: 8%;
    margin-right: 8%;
  }

  .department-area h2 {
    position: absolute;
    top: 50%;
    left: 42%;
    font-weight: 600;
  }

  .department-area {
    height: 300px;
  }

  .product-area, .slick-slider, .slick-slide {
    height: 300px;
  }

  .department-area img {
    height: 100%;
  }

  .product-image img {
    height: 205px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 25px;
  }

  .product-title {
    text-align: center;
    width: 90%;
    margin-top: 5px;
    padding-left: 30px;
    min-height: 72px;
  }

  .product-title a {
    color: #A1AAB9;
  }
}

@media only screen and (max-width: 1440px) {
  .department-area h2 {
    left: 47%;
  }
}

@media only screen and (max-width: 1366px) {
  .main-body {
    margin-left: 4%;
    margin-right: 4%;
  }

  .department-area h2 {
    left: 50%;
  }

  .department-area {
    height: 280px;
  }

  .product-area, .slick-slider, .slick-slide {
    height: 280px;
  }

  .product-image img {
    height: 205px;
    margin-top: 5px;
    padding: 10px 0px;
  }

  .product-title {
    width: 90%;
    margin-top: 0px;
    padding-left: 30px;
  }

  .product-title a {
    color: #A1AAB9;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .personal span {
    height: 26px;
    width: 26px;
    top: 14px;
    left: 14px;
    line-height: 26px;
  }
}

@media only screen and (max-width: 1276px) {
  .department-area h2 {
    left: 50%;
    font-size: 25px;
  }

  .department-area {
    height: 260px;
  }

  .product-area, .slick-slider, .slick-slide {
    height: 260px;
  }

  .product-image img {
    height: 205px;
    margin-top: 5px;
    padding: 10px 0px;
  }

  .product-title {
    width: 90%;
    margin-top: 0px;
    padding-left: 30px;
  }

  .product-title a {
    color: #A1AAB9;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;

    overflow: hidden;
  }

  .personal span {
    height: 25px;
    width: 25px;
    top: 10px;
    left: 10px;
    line-height: 25px;
  }


  .slick-prev {
    left: -18px;
  }

  .slick-next {
    right: -18px;
  }

  .slick-slide {
    border-right: 1px solid #d3d7de;
  }

  .slick-prev, .slick-next {
    width: 35px;
    height: 32px;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 35px;
  }

  .slick-prev:hover, .slick-prev:focus {
    width: 35px;
    height: 32px;
  }

  .slick-next:hover, .slick-next:focus {
    width: 35px;
    height: 32px;
  }
}


@media only screen and (max-width: 768px) {
  .main-body .row > .col-3 {
    display: none;
  }
  .col-9 {
    max-width: 100% !important;
    flex: 1 !important;
  }
  .personal {
   max-width: 100%;
  }
  #logo-img {
    margin: auto;
    padding: 0;
    display: block;
  }
  h2.title {
   width: auto;
   margin-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .main-body .row .col-9 h2 {
    display: none;
  }

}


.product-area .department-area {
 position: relative;
}
.product-area .department-area img {
  width: 100%;
  object-fit: cover;
}
.product-area .department-area img {
}
.product-grid {
 background: #eeeeee;
 display: grid;
 grid-gap: 1px;
 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.product-area .department-area {
 position: relative;
 overflow: hidden;
}
.product-area h3 {
 text-align: center;
 padding-top: 110px;
 opacity: 0.5;
}
.product-grid .department-area img {
  width: 100%;
  height: auto;
  margin: 0;
}
.product-grid img {
 display: block;
 margin: 0 auto;
}
.product-grid > div {
 background: #fff;
}
.product-grid .personal {
 max-width: 100%;
}

.react-select > div {
    z-index: 10;
}

.react-select > input {
  border-radius: 0.25rem;
}

.DateRangePicker {
  z-index: 10;
  display: block;
}

.DateRangePickerInput, .DateRangePicker .DateInput_input {
  border-radius: 0.25rem;
}

.DateInput_input {
  height: 33px
}

.DateRangePickerInput {
  padding: 2px
}

.main-search {
  position: absolute;
  right: 100px;
  top: 5px;
}
.main-search_label {
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .body-header {
    margin-top: 30px
  }
  .main-search {
    display: flex;
    position: relative;
    margin: 10px 15px;
    top: 0;
    right: 0;
    width: 100%;
  }
  .main-search .form-inline {
    width: 100%;
  }
  .main-search .main-search_label {
    display: none;
  }
  .main-search input.main-search_input {
    width: 100%;
  }
  .DateRangePicker, .DateRangePickerInput {
    width: 100%;
  }
  .DateInput {
    width: 45%;
  }
}
